#container {
  background: white;
}
.row {
}

.box {
  width: 20px;
  height: 20px;
  background: white;
  text-align: center;
  color: white;
  display: inline-block;
  border: 1px solid;
  border-color: black;
}

#red{
  background: red;
}
#blue{
  background: blue;
}

.color {
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
  border: 1px solid;
  border-color: black;
}
